.fundo{
    background-image: url(Feitiços.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    height: 100vh; 
    margin: 0;
}

header{
    background-color: rgba(0, 0, 0, 0.35);
    font-size: 24px;
    padding: 10px;
    display: inline;
    width: 1440px;
    height: 30px;

}

.menu{
    list-style: none; 
    padding: 0;
    margin: 0;
    left: 0;

}

.menu1 {
display: inline; 
margin-right: 20px; 
}


.menu2 {
text-decoration: none; 
color: white; 
font-weight: bold; 
}

.f1{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 15%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}
.f2{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}
.f3{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}
.f4{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}
.f5{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}
.f6{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}
.f7{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}
.f8{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 85%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}
.f9{
background-color: rgba(0, 0, 0, 0.52);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
justify-content: center;
margin-top: center;
position: absolute;
top: 95%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
width: 1334px;
height: 51px;
}

.Feitiços{
color: white;
}

.text{
color: goldenrod;

}





  

     

        