@media screen and (max-width: 768px) {
    .frame1 {
        padding: 20px;
    }
    .Central,
    .Gryffindor,
    .Hufflepuff,
    .Ravenclaw,
    .Slytherin {
        font-size: 16px;
        line-height: 1.6;
    }
    .red,
    .yellow,
    .blue,
    .green {
        font-size: 14px;
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}

.fundo {
    background-image: url(../image/Casas.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: grid;
    height: 100vh; 
    margin: 0;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr;
}


.frame1{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    justify-content: center;
    margin-top: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 300px;
    height: 325px;
    }

.Central{
    font-size: 17px;
    color: white;
    text-align: center;
    }

    .frame2{
        background-color: rgba(0, 0, 0, 0.52);
        box-shadow: 0 2px 4px;
        border-radius: 5px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-200%, -80%);
        align-items: left;
        width: 325px;
        height: 200px;
    }


    .frame3{
        background-color: rgba(0, 0, 0, 0.52);
        box-shadow: 0 2px 4px;
        border-radius: 5px;
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translate(-200%, 70%);
        align-items: left;
        width: 325px;
        height: 200px;
    }

   
    .frame4{
        background-color: rgba(0, 0, 0, 0.52);
        box-shadow: 0 2px 4px;
        border-radius: 5px;
        position: absolute;
        bottom: 30%;
        right: 50%;
        transform: translate(200%, 70%);
        align-items: left;
        width: 325px;
        height: 200px;
    }


  
    
.frame5{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(200%, -80%);
    align-items: left;
    width: 325px;
    height: 200px;
}

.Gryffindor, .Hufflepuff, .Ravenclaw, .Slytherin {
    font-size: 20px;
    color: white;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}

.nav-link{
    color: white;
}

.white-button {
    border-color: white; 
}

.navbar-brand img {
    max-width: 100%; 
    height: auto; 
}