@media screen and (max-width: 768px) {
    .frame1,
    .frame2 {
        padding: 20px;
    }
    .Gui p,
    .JP p {
        font-size: 16px;
        line-height: 1.6;
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}


.fundo {
    background-image: url(../image/Desenvolvedores.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: grid;
    height: 100vh; 
    margin: 0;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr;
}

.frame1{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    Top: 35%;
    left: 50%;
    transform: translate(-200%, -50%);
    width: 300px;
    height: 130px;
}

.Gui{
   color: white; 
  font-weight: bold; 
}

.frame2{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-200%, 50%);
    width: 300px;
    height: 130px;
}

.JP{
    color: white; 
   font-weight: bold; 
 }


 .nav-link{
    color: white;
}

.white-button {
    border-color: white; 
}

.navbar-brand img {
    max-width: 100%; 
    height: auto; 
}