@media screen and (max-width: 768px) {
    header {
        font-size: 18px;
        padding: 5px;
    }

    .menu1 {
        margin-right: 10px;
    }

    .style {
        font-size: 40px;
    }
}


.fundo {
    background-image: url(../image/Desenvolvedores.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: grid;
    height: 100vh; 
    margin: 0;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr;
}

header{
    background-color: rgba(0, 0, 0, 0.35);
    grid-template-columns: repeat(6, 1fr);
    font-size: 24px;
    display: grid, inline;
    padding: 10px;
    width: 1440px;
    height: 30px;
    position: fixed;
    justify-items: center;

}

.menu{
    list-style: none; 
    padding: 0;
    margin: 0;
    left: 0;

}

.menu1 {
display: inline; 
margin-right: 20px; 
}


.menu2 {
text-decoration: none; 
color: white; 
font-weight: bold; 
}

.frame1{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    Top: 35%;
    left: 50%;
    transform: translate(-200%, -50%);
    width: 300px;
    height: 130px;
}

.Gui{
   color: white; 
  font-weight: bold; 
}

.frame2{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-200%, 50%);
    width: 300px;
    height: 130px;
}

.JP{
    color: white; 
   font-weight: bold; 
 }