.fundo{
    background-image: url(../image/Feitiços.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(9, 51px);
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
}

header{
    background-color: rgba(0, 0, 0, 0.35);
    grid-template-columns: repeat(6, 1fr);
    font-size: 24px;
    display: grid, inline;
    padding: 10px;
    width: 1440px;
    height: 30px;
    position: fixed;
    justify-items: center;

}


.menu{
    list-style: none; 
    padding: 0;
    margin: 0;
    left: 0;

}

.menu1 {
display: inline; 
margin-right: 20px; 
}


.menu2 {
text-decoration: none; 
color: white; 
font-weight: bold; 
}

.f1{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 10%;
}

.f2{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 20%;
  
}
.f3{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 30%;
    
}
.f4{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 40%;
}
.f5{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 50%;
}
.f6{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 60%;
}
.f7{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 70%;
}
.f8{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 80%;
}

.f9{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 1334px;
    height: 51px;
    text-align: center;
    top: 90%;
}

.Feitiços{
color: white;
}

.text{
color: goldenrod;

}





  

     

        