@media screen and (max-width: 768px) {
    body {
        overflow: auto; 
    }

    .expelliarmus,
    .Estupefaça,
    .Expecto-patronum,
    .Avada-Kedavra,
    .Crucio,
    .Imperio,
    .Accio,
    .Lumos,
    .Alorromora {
        width: 300px; 
        height: 200px; 
        margin-top: 10%; 
    }
}



.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}


.fundo{
    background-size: cover; 
    background-position: center;
    display: grid;
    margin: 0;
    height: 100vh; 
}

.livro{
    background-image: url(../image/Feitiços.png);
    background-size: cover; 
    padding-top: 5px;
}



.expelliarmus, .Estupefaça, .Expecto-patronum, .Avada-Kedavra, .Crucio, .Imperio, .Accio, .Lumos, .Alorromora {
    width: 550px;
    height: 300px;
    margin-top: 20%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.text-color{
    color: black;
    font-size: 16px;
    
}

.nav-link{
    color: white;
}

.white-button {
    border-color: white; 
}

.navbar-brand img {
    max-width: 100%; 
    height: auto; 
}
  
        