@media screen and (max-width: 768px) {
    .frame {
        padding: 20px;
    }
    .Feitiços p {
        font-size: 16px;
        line-height: 1.6;
    }
    .text1 {
        display: none;
    }
}

body{
    overflow-x: hidden;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}


.fundo{
    background-image: url(../image/Feitiços.png);
    background-size: cover; 
    background-position: center;
    display: grid;
    height: no-repeat;
    margin: 0;

}


.expelliarmus, .Estupefaça, .Expecto-patronum, .Avada-Kedavra, .Crucio, .Imperio, .Accio, .Lumos, .Alorromora {
    width: 600px;
    height: 350px;
    margin-top: 18%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.text-color{
    color: black;
    
}

.nav-link{
    color: white;
}

.white-button {
    border-color: white; 
}

.navbar-brand img {
    max-width: 100%; 
    height: auto; 
}
  

     

        