@media screen and (max-width: 768px) {
    .container-home {
        height: 300px;
    }
    
    .card {
        width: 100%;
    }
    
    .card img {
        height: auto;
    }
}

body{
    overflow-x: hidden;
    padding-top: 60px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}

.fundo {
    background-color: gainsboro;
    display: grid;
    height: 100vh; 
}

.container-home {
    background-image: url(../image/Index.jpg);
    background-size: cover;
    display: flex;
    border-radius: 5px;
    margin: 0 auto; 
    width: 99%; 
    height: 450px;
    
}

.card-container {
    display: flex;
    justify-content: space-around; /
}

.card {
    width: 325px;
    margin: 5px; 
}

.card img {
    width: 100%; 
    height: 170px; 
    object-fit: cover; 
}

.style,
#meuBotao {
    font-family: 'MagicSchoolOne'; 
    font-size: 60px; 
    color: #daa520; 
    text-align: center; 
    background: transparent;
    border: none; 
    cursor: pointer; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.nav-link{
    color: white;
}

.white-button {
    border-color: white; 
}

.navbar-brand img {
    max-width: 100%; 
    height: auto; 
}