@media screen and (max-width: 768px) {
    .navbar {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .navbar-toggler {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .offcanvas {
        width: 90%;
    }
    h1 {
        font-size: 24px;
    }
    #meuBotao {
        font-size: 14px;
        padding: 8px 16px;
    }
}

body{
    overflow-x: hidden;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}

.fundo {
    background-image: url(../image/Index.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: grid;
    height: 100vh; 
    margin: 0; 
}

.style,
#meuBotao {
    font-family: 'MagicSchoolOne'; 
    font-size: 60px; 
    color: #daa520; 
    text-align: center; 
    background: transparent;
    border: none; 
    cursor: pointer; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.nav-link{
    color: white;
}