@media screen and (max-width: 767px) {

    .frame2 p,
    .frame1 p,
    .frame5 p,
    .frame3 p,
    .frame4 p {
        font-size: 14px;
    }
}

html, body {
    height: 100%;
    margin: 35px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}


.fundo {
    background-image: url(../image/Personagens.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100%; 
}

.card{
    background-color: white;
    padding: 10px;
    width: 140px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
}

.card_title{
    font-family: 'MagicSchoolOne'; 
    font-size: 17px;
}

.card .card_button{
    background-color: darkgray;
    border: none;
    border-radius: 10px;
}

.personagem-imagem {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.nav-link{
    color: white;
}

.white-button {
    border-color: white; 
}

.navbar-brand img {
    max-width: 100%; 
    height: auto; 
}