@media screen and (max-width: 768px) {
    body {
        padding-top: 80px; 
    }

    .card-container {
        flex-direction: column; 
        align-items: center; 
    }

    .card {
        width: 90%; 
        margin: 10px 0;
    }

    .card img {
        height: auto;
    }
}


body {
    padding-top: 60px; 
}

.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}

.fundo {
    background-color: gainsboro;
    display: grid;
}

.nav-link{
    color: white;
}

.white-button {
    border-color: white; 
}

.navbar-brand img {
    max-width: 100%; 
    height: auto; 
}

.card-container {
    display: flex;
    justify-content: space-around; /
}

.card {
    width: 325px;
    margin: 5px; 
}

.card img {
    width: 100%; 
    height: 170px; 
    object-fit: cover; 
}




