@media screen and (max-width: 767px) {

    .Lenda,
    .Varinha,
    .Pedra,
    .Capa {
        font-size: 14px; 
    }
}

body{
    overflow-x: hidden;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.582);
}


.fundo {
    background-image: url(../image/Reliquias.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(9, 51px);
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
}

.frame1{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    justify-content: center;
    margin-top: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 1330px;
    height: 90px;
}

.Lenda{
    font-size: 20px;
    color: white;
}


.frame2{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-200%, -50%);
    width: 300px;
    height: 325px;
}

.Varinha{
    font-size: 20px;
    color: white;
}

.frame3{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 300px;
    height: 325px;
}

.Pedra{
    font-size: 20px;
    color: white;
}

.frame4{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate( 200%, 10%);
    width: 300px;
    height: 325px;
    }

.Capa{
    font-size: 20px;
    color: white;
}


.cor{
    color: red;
}

.nav-link{
    color: white;
}

.white-button {
    border-color: white; 
}

.navbar-brand img {
    max-width: 100%; 
    height: auto; 
}